
 <h1 class="d-flex justify-content-center" style="color: crimson">
  AADHAR APPLICATION Portal 
</h1><div class="row">
  <div class="col-md-6">
  <div class="container"id="valis">
  </div>
</div>
<div class="col-md-6">
    <div class="cointainer">
      <p>
      Citizen login or already register person with given button and view the respect Aadhaar Details and also edit the details.
      </p>
  
      <a type="button" class="d-inline btn btn-outline-danger" routerLink="/userlogin" > Citizen Login</a>
      <br>
      <br/>
      
      <p>
        Admin can  view the entire details od Citizen Aadhar details.The admin login special Crendientials.
      </p>
  
    <a type="button" class="d-inline btn btn-outline-danger" routerLink="/adminlogin">Admin Login</a>
     <br> 
     <br/>
    <p>
      If new user please click the below link.And fill required Details.
    </p>
   
    <a routerLink="/register">New User Click Here</a> 
     <br>
     <br/>
</div>
  </div>
</div>
